/* Custom Props */
:root {
  --green: #30c88f;
  --black: #2d314d;
  --grey: #9597a5;

  --gradient: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%); 
}


/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;500&display=swap);


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  background-color: #fafafa;
  color: var(--grey);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* Logo */
.logo {
  display: flex;
}

.logo:hover {
  opacity: .8;
}

.logo:active {
  opacity: .6;
}

.logo__img {
  width: 139px;
  height: 20px;
  object-fit: contain;
}


/* Sitenav */
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: normal;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--grey);
  transition: color .3s ease;
}

.sitenav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-image: var(--gradient);
  transition: width .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sitenav__link:hover::after {
  width: 100%;
}

.sitenav__link:hover {
  color: var(--black);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* Button */
.button {
  position: relative;
  display: inline-block;
  padding: 8px 34px;
  border: 0;
  border-radius: 22px;
  font-weight: 14;
  line-height: 28px;
  font-weight: 500; 
  background-image: var(--gradient);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity .3s ease;
}

.button:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.4);
}

.button:active {
  transform: translateY(2px);
}


/* Sitenav */
.site-header {
  position: relative;
  z-index: 999;
  background-color: #fff;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Hero */
.hero {
  position: relative;
  z-index: 30;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url("../img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 593px) -261px;
}

.hero__content {
  width: 100%;
  max-width: 450px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  color: var(--black);
  letter-spacing: -1px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
}

.hero__img {
  position: absolute;
  width: 730px;
  height: 900px;
  object-fit: contain;
  left: calc(50% + 74px);
  top: -112px;
}


/* Features */
.features {
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #f4f5f7;
}

.features__info {
  margin-bottom: 72px;
  width: 100%;
  max-width: 635px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 64px;
  font-weight: 100;
  color: var(--black);
}

.features__text {
  font-size: 18px;
  line-height: 28px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-bottom: -80px;
  list-style: none;
}

.features__item {
  width: 100%; 
  max-width: 255px;
  margin-left: 30px;
  margin-bottom: 80px;
}


/* Feature */
.feature__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--green);
  background-image: var(--gradient);
}

.feature__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  color: var(--black);
  letter-spacing: -.43px;
}

.feature__desc {
  margin: 0;
}